<h1>Update Progress for student: <%= @progress.student.fullname  %></h1>

<br>
<div>Current progress is: <b> <%= progress_text(@progress.student) %> </b></div>

<br>

<%= render 'form', progress: @progress %>


